*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Harmonia Sans Pro Cyr';
    color: white;
    text-decoration: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url('./video/papers.co-vs32-htc-abstract-art-paint-pattern-pink-3840x2400.jpg');
    background-size: cover;
}

.overlay {
    transition: 400ms ease-in-out;
    width: 100%;
    height: 100%;
    background: #0558c4;
    mix-blend-mode: soft-light;
    position: absolute;
    right: 0;
    animation-name: fill;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 95%;
    top: 2rem;
    left: 2rem;
    width: 96%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-name {
    transition: 200ms ease-in-out;
    font-weight: 900;
    letter-spacing: 3px;
}

.site-name:hover {
    letter-spacing: 5px;
}

.links {
    display: flex;
    list-style: none;
}

.links li {
    margin: 0 1rem;

}
a {
    color: white;
}
li {
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    font-weight:  900;
    text-transform: uppercase;
    letter-spacing: 1px;
}
a::after{
    transition: 200ms cubic-bezier(0.23, 1, 0.320, 1);
    content: '';
    position: absolute;
    height: 2px;
    width: auto;
    background: white;
    bottom: -6px;
    left: 0;
    right: 0;
    z-index: -1;
}

li:hover a::after {
    height: 80px;
}

li:hover a{
    color: black;
}

.title {
    margin-top: 10rem;
    font-weight: 900;
    font-size: 8rem;
    width: 80%;
    mix-blend-mode: exclusion;
}

@keyframes fill {
    from {
        transform: scale(3);
    }

    to {
        transform: scale(1);
    }
}

.buttons {
    display: flex;
}
.btn {
    padding: 1rem 3rem;
    letter-spacing: 2px;
    font-weight: 900;
    color: white;
    position: relative;
}
.join {
    position: relative;
}
.join::after {
    content: '';
    position: absolute;
    height: 50px;
    mix-blend-mode: color-dodge;
    width: 140px;
    background: #0558c4;
    top: 0;
    left: 0;
    z-index: -1;
}